.defaultText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: medium;
	vertical-align: top;
	color: #000000;
}
.emphasisText {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: medium;
	vertical-align: top;
	color: #009999;
}
.smallText { font-family: Arial, Helvetica, sans-serif; font-size: small; vertical-align: top }
.pageTitle {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: x-large; color: #009999; vertical-align: bottom}
.navigationText {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: small; color: #009999; vertical-align: top}
.codeText {
	font-family: "Courier New", Courier, mono;
	font-size: medium;
	color: #000000;
}
